.banner {
  background-image: url("../../images/kpltheme.jpg");
  color: white;
  padding: 150px 0px;
	background-size: cover;     
  background-position: center;
}

.banner h1 {
  color: black;
  font-size: 50px;
}
.banner h2 {
  color: black;
  font-size: 25px;
  font-weight: lighter;
	opacity: 0.8;
  margin-bottom: 40px;
}



